# JSON and XML - Lab

## Introduction

In this lab, we'll continue investigating new formats for datasets. Specifically, we'll investigate two of the most popular data formats for the web: JSON and XML including strenghts and weaknesses.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [4]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [5]:
#Answer: 1
len(root)

1

### How many different types of tags are there within the entire XML file?

In [6]:
# Your code here
for child in root:
    print(child.tag)

row

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [8]:
import pandas as pd

In [9]:
#Your code here
dfs = []
for n, element in enumerate(root.iter('row')):
    if n > 0:
        dfs.append(pd.DataFrame.from_dict(element.attrib, orient='index').transpose())
df = pd.concat(dfs)
df.head()

,_id,_uuid,_position,_address
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,https://data.cityofnewyork.us/resource/_8dhd-z...
0,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,https://data.cityofnewyork.us/resource/_8dhd-z...
0,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,https://data.cityofnewyork.us/resource/_8dhd-z...
0,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,https://data.cityofnewyork.us/resource/_8dhd-z...
0,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,https://data.cityofnewyork.us/resource/_8dhd-z...

## JSON

### Open the same dataset from json

In [ ]:
#Your code here
import json
file =

### What is the root data type of the json file?

In [ ]:
### Your code here

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [ ]:
#Your code here

### Preview the first entry from the value returned by the 'data' key above.

In [ ]:
#Your code here

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [ ]:
#Your code here

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!